$color-light: #f5f6fa;
$color-dark: #2f3640;
/* $color-dark: #242628; */
$text-light: #e1e1e1;
$text-dark: #1d1d1d;
$color-error: #e84118;
$color-error-hover: #c23616;
$color-valid: #4cd137;
$color-valid-hover: #44bd32;
