$color-light: #f5f6fa;
$color-dark: #2f3640;
/* $color-dark: #242628; */
$text-light: #242628;
$text-dark: rgb(116, 116, 107);
$color-error: #e84118;
$color-error-hover: #c23616;
$color-valid: #4cd137;
$color-valid-hover: #44bd32;
