@import "vars";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

.App {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: $color-light;
  color: #242628;
  /* font-family: "Varela Round", sans-serif; */

  &--dark {
    background-color: $color-dark;
    color: #8f9092;
    min-height: 100vh;
  }
}
a:visited {
  text-decoration: none;
}
