@import "vars";
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap");

.App {
  font-family: Mulish, sans-serif;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: $color-light;
  color: #242628;

  &--dark {
    background-color: $color-dark;
    color: #8f9092;
    min-height: 100vh;
  }
}
a:visited {
  text-decoration: none;
}
