.App {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: #8f9092;
  color: #242628;
  font-family: "Sofia Pro", sans-serif;
  &--dark {
    background-color: #242628;
    color: #8f9092;
  }
}
a:visited {
  text-decoration: none;
}

button {
  width: auto;
  height: 40px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: rgb(10, 62, 23);

  padding: 0 5px;
}
button:hover {
  background-color: rgb(13, 91, 33);
  transition: 0.2s;
}
