.article_container {
  min-height: 100vh;
  max-width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.article_element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 50px 0;
}
.article_user {
  margin-top: 20px;
}
.article_title {
  margin: 20px 0;
}
.article_img {
  min-width: 300px;
  max-width: 1000px;
  height: auto;
  font-size: 20px;
  font-weight: 600;
}
.article_img > img {
  width: 100%;
  height: auto;
}
.article_content {
  padding: 0 25px;
  margin-top: 20px;
  max-width: 800px;
  height: auto;
  font-size: 20px;
  font-weight: 600;
}
.article_img img {
  width: 100%;
  height: auto;
}
.back_to_articles_list {
  content: "";
  position: absolute;
  top: 80px;
  left: 80px;

  font-size: 20px;
}
@media screen and (min-width: 1000px) {
  .article_img {
    width: 900px;
    height: auto;
    font-size: 20px;
    font-weight: 600;
  }
  .article_img > img {
    width: 100%;
    height: auto;
  }
}
