.articles-list {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  min-height: 100vh;
}
.article-title {
  font-family: "Calibri light", sans-serif;
  font-size: 22px;
}
.article-content {
  font-size: 20px;
  padding-top: 15px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-break: break-word;
  display: -webkit-box;
  overflow-y: hidden;
  margin-bottom: 10px;
  padding: 0 5px;
}
.article-createdTime {
  position: absolute;
  font-family: "Arial", sans-serif;
  font-size: 20px;
  word-break: break-all;
  bottom: 0;
  left: 0;
}

.article {
  position: relative;
  width: 100%;
  min-height: auto;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-bottom: 2em;
  border-radius: 5px;
  height: 375px;
}
.article-picture {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.img-container {
  width: 100%;
  height: 200px;
}
@media screen and (min-width: 710px) {
  .articles-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
  }
  .article {
    width: 45%;
    margin: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  .article-picture {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
  }
}
@media screen and (min-width: 1001px) {
  .articles-list {
    display: flex;
    width: 90%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .article {
    width: 30%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  .article-picture {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
  }
}
