@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Mulish", sans-serif;
  /*   font-family: "Roboto", sans-serif; */
  color: #1d1d1d;
  font-size: 20px;
  /*  font-family: "Lato", sans-serif; 
  
  text-decoration: none;*/
}

/* a:visited {
  color: #fff;
} */
body {
  width: 100%;
  min-height: 100vh;
}
