@media screen and (max-width: 709px) {
  .article {
    width: 80%;
  }
  .btn_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
  }
}

.profile_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.profile_title {
  /*   font-family: "Calibri", sans-serif;
 */
  font-size: 35px;
  padding: 20px;
}
.my_posts {
  display: flex;

  flex-wrap: wrap;
  justify-content: center;
}
.post_container {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
  margin-top: 75px;
  .post {
    width: auto;
    max-width: 350px;
    min-height: 375px;
    .img-container {
      max-width: 100%;
    }
  }
}
.message {
  font-size: 20px;
  color: green;
}

.btn_create_new_post {
  background: #4cd137;
  color: #f5f6fa;
  width: 250px;
  height: 40px;
  border: none;
  border-radius: 5px;
  margin: 20px;
}
.btn_create_new_post:hover {
  background-color: rgb(17, 144, 17);
  transition: 0.5s;
  color: black;
  border: solid 1px black;
}

.btn_delete_post,
.btn_delete_account {
  background: red;
  color: #f5f6fa;
  width: auto;
  max-width: 320px;
  height: 40px;
  border: none;
  border-radius: 5px;
  margin: 20px;
  padding: 5px;
}
.btn_delete_post:hover,
.btn_delete_account:hover {
  background-color: rgb(201, 7, 7);
  color: #dcdde1;
  border: solid 1px black;
  cursor: pointer;
  transition: 0.3s;
  color: black;
}
