.signup {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: calc(100vh - 60px);
  text-align: center;
  justify-content: center;
}

.signup_container,
.signup_form {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 400px;
  background-color: #dcdde1;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

form svg {
  color: white;
  width: 30px;
  height: auto;
}
form input {
  width: 300px;
  height: 24px;
  margin-bottom: 20px;
  color: rgb(20, 20, 20);
  font-family: "Verdana", sans-serif;
  font-size: 20px;
  padding-left: 15px;
  background-color: white;
  border: none;
}
input:focus {
  border: rgb(30, 30, 231) solid 3px !important;
}
.link_account,
.signup_message,
.signup_erreur {
  font-size: 20px;
}
.signup_message {
  margin-top: 50px;
  color: green;
  font-size: 30px;
}
.signup_erreur {
  color: red;
}
.signup_sucess {
  color: green;
}
.link_account:hover {
  color: rgb(179, 179, 163);
  transition: 0.3s;
}
.btn_submit_new_account {
  width: 200px;
  height: 50px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: #4cd137;
  margin-top: 20px;
}
.btn_submit_new_account:hover {
  width: 200px;
  height: 50px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: #44bd32;
  transition: 0.3s;
}
.form_reveal {
  width: 40px;
  height: 40px;
  margin-left: 20px;
}
.form_reveal > svg {
  width: 100%;
  height: auto;
}
